/App.class
/DesicionStation.class
/FileRead.class
/Lexer.class
/Node.class
/SyntaxTree.class
/Token.class
/TokenType.class
/AndroidMapAttribute$BracketCounter.class
/AndroidMapAttribute.class
/AndroidMapToken.class
/Attribute.class
/FileProcessing.class
/IosMapAttribute.class
/IosMapToken.class
/Main.class
